<% provide(:title, "Welcome") %>
<h1>StaticPages#welcome</h1>
<p>This will be where we can direct people who are given the joining link.</p>
<p>This one can have the header, but doesn't need the nav bar attached.</p>